@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}

/* Base Grid Layout for the Entire App */
.app {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  min-height: 100vh;
}



:root {
  --color-base-primary: #495E57;
  --color-base-secondary: #F4CE14;
  --color-complement-primary: #EE9972;
  --color-complement-secondary: #FBDADD;
  --color-highlight-light: #EDEFEE;
  --color-highlight-link: #ffffff;
  --color-highlight-dark: #333333;
}

/* Ensure focus states are visible */
[aria-required="true"] + label::after {
  content: " *";
  color: #e63946;
}

button:focus, input:focus, select:focus {
  outline: 1px solid #EE9972;
  outline-offset: 2px;
}

[aria-busy="true"] {
  opacity: 0.8;
  cursor: progress;
}